/* Basic Layout */

body {
    display: flex;
    justify-content: center;
    font-size: 110%;
}

main {
    max-width: 1000px;
}

img {
    width: 100%;
}


/* Fonts */

h1, h2, h3, h4, p div {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
p, li {
    font-size: 1.1em;
}


/* Empathy Map */

ul.empathy-map {
    list-style: none;
    padding: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.empathy-map > li {
    box-sizing: border-box;
    max-width: 500px;
    padding: 20px;
    border: 1px solid black;
}


/* Storyboard */

ol.storyboard {
    list-style: none;
    padding: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.storyboard > li {
    box-sizing: border-box;
    max-width: 250px;
    padding: 20px;
    border: 1px solid black;
}


/* Mobile Styling Tweaks */

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 3em;
    }
  }
